/* .ListComment {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 20px;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  color: black;
}

#DeleteComment {
  text-align: end;
  font-size: 1.5rem;
  padding: 2px;
  background-color: white;
} */
